__pycache__/ 
LLM/Code/__pycache__/
LLM/Data/__pycache__/


LLM/Code/token.txt

#report2 chapters
LLM/Data/REPORT_2/access_20250310/
LLM/Data/REPORT_2/access_20250417/ 

.DS_Store
/.DS_Store
.DS_Store/
.vscode/



network analysis/
network analysis/network analysis giorgio/